<!--Bootstrap按钮组-->
<div class="btn-group" role="group">
    <button id="checkAll" type="button" class="btn btn-default">全选</button>
    <button id="checkReverse" type="button" class="btn btn-default">反选</button>
    <button id="checkCancel" type="button" class="btn btn-default">取消</button>
    <a id="multiAdd" type="button" class="btn btn-default">增加</a>
    <button id="multiDel" type="button" class="btn btn-default">删除</button>
    <button id="refresh" type="button" class="btn btn-default">刷新</button>
    <button id="save" type="button" class="btn btn-default">保存</button>
    <button id="editmodelornot" type="button" class="btn btn-default">进入编辑模式</button>
</div>

<table class="table table-bordered table-hover">
    <thead id="tbhead"></thead>
    <tbody id="tbbody"></tbody>
</table>