<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div style="width: 700px;margin: 0 auto;">
        <table class="table table-bordered table-hover">
            <thead id="tbhead">
                <tr></tr>
            </thead>
            <tbody id="tbbody"></tbody>

    </table>
    </div>

    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/backend.js"></script>
</body>
</html>